/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--darkGreenColor: #1D6154;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav {
	width: 100%;
	max-width: 400px;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;

}
nav ul:hover {
	cursor: pointer;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#loginUl {
    font-weight: 600;
}

.form {
	width: 100%;
	height: 74vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formDiv {
	width: 379px;
	height: 400px;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.error_message {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
	border: 1.5px solid black;
	border-radius: 10px;
	box-shadow: 0px 4px 14px 0px #0000003a;
	display: none;
	justify-content: center;
	color: rgb(252, 95, 95);
}

.formDiv p {
	margin-top: 20px;
}

.formDiv input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	margin-top: 10px;
}

input[type="submit"]{
	font-family: 'Work Sans';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 179px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: none;
}

input[type="submit"]:hover{
	cursor: pointer;
}



footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}