/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--darkGreenColor: #1D6154;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.container {
	max-width: 1140px;
	margin:auto;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav {
	width: 100%;
	max-width: 400px;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;

}
nav ul:hover {
	cursor: pointer;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filter_list {
	width: 100%;
	height: 38px;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.filterText {
	font-family: 'Syne';
	min-width: calc(100px - 10.5px);
	max-height: calc(37px - 15px);
	padding: 10px;
	padding-top: 5.31px;
	padding-bottom: 5.31px;
	color: var(--darkGreenColor);
	border: 1px solid var(--darkGreenColor);
	border-radius: 60px;
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 19.2px;
	transition: all .3s ease-in-out;
}

.filterTextSelected {
	color: white;
	background-color: #1D6154;
	transition: all .3s ease-in-out;
}

.filterText:hover {
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 366.66px;
	height: 489.27px;
	object-fit: cover;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.loginDiv {
	width: 100%;
	height: 74vh;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formDiv {
	width: 379px;
	height: 200px;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.formDiv p {
	margin-top: 20px;
}

.formDiv input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	margin-top: 10px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 179px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	border: none;
}

input[type="submit"]:hover{
	cursor: pointer;
}


.editor-mode {
	width: 100%;
	height: 59px;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans';
	color: white;
	gap: 10px;
}

.EditorMode {
	display: none;
	color: black;
	font-family: 'Work Sans';
	font-size: 14px;
	margin-left: 20px;
}
.EditorMode:hover {
	cursor: pointer;
}

.EditorModeModif {
	margin-left: 10px;
}

.adminGallery {
	z-index: 2;
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	margin-top: -59px;
	background: #0000004D;
	justify-content: center;
	overflow: hidden;
}


.adminEditModal {
	border: none;
	z-index: 1;
	position: fixed;
	background: white;
	width: 630px;
	height: 688px;
	top: 150px;
	border-radius: 10px;
	flex-direction: column;
}
::backdrop {
	background: black; 
	opacity: 0.75;
}

.adminEditModal i {
	font-size: 24px;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}
.adminEditModal i:hover {
	cursor: pointer;
}

.titleGalleryPhoto {
	width: 175px;
	font-size: 26px;
	font-weight: 400;
	margin: auto;
	margin-top: 50px;
}

.adminEditModal div {
	width: 420px;
	height: 450px;
	margin: auto;
	margin-top: 40px;
	border-bottom: 1px solid #B3B3B3;
	display: grid;
	grid-template-rows: 28% 28%;
	grid-template-columns: auto auto auto auto auto;
}

.adminEditModal div figure {
	position: relative;
	width: 77px;
	height: 103px;
}

.GalleryEdit img {
	width: 77px;
	height: 103px;
	object-fit: cover;
}

.adminEditModal div figure i {
	position: absolute;
	font-size: 10px;
	color: white;
	background-color: black;
	padding: 6px;
	margin: 0;
	right: 5px;
	top: 5px;
	border-radius: 4px;
}

.AddPicture {
	width: 237px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	margin: auto;
	margin-top: 35px;
	color: white;
	background-color: #1D6154;
	border: none;
	font-size: 14px;
	font-family: 'Work Sans';
}

.AddPicture:hover {
	cursor: pointer;
}

.adminAddModal {
	display: none;
	position: fixed;
	background: white;
	width: 630px;
	height: 688px;
	top: 150px;
	border-radius: 10px;
	flex-direction: column;
}

.adminAddModal .icons {
	width: calc(100% - 50px);
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
}

.adminAddModal i {
	font-size: 24px;
}

.icons i:hover {
	cursor: pointer;
}
.titleAddPicture {
	width: 175px;
	font-size: 26px;
	font-weight: 400;
	margin: auto;
	margin-top: 10px;
}

.adminAddPicture2 {
	position: relative;
	overflow: hidden;
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	margin: auto;
	margin-top: 35px;
	border-radius: 3px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.formImage {
	z-index: 999;
	height: 169px;
	display: flex;
	flex-direction: column;
	background-color: #E8F1F6;
	color: #B9C5CC;
	margin: auto;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.adminAddPicture2 i {
	font-size: 68px;
}

.previewAdminModal {
	position: absolute;
	width: 129px;
}

.previewAdminModal img {
	opacity: 0;
	width: 129px;
	height: 171.84px;
	object-fit: cover;
}

.LabelFileUpload {
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	padding: 10px;
	padding-right: 33px;
	padding-left: 33px;
	border-radius: 50px;
}

.LabelFileUpload:hover {
	cursor: pointer;
}

.adminAddPicture2 p {
	margin: 0;
	font-size: 10px;
	width: 94px;
	height: 12px;
	color: #444444;
}

.adminModalRequest {
	position: relative;
	box-sizing: border-box;
	width: 420px;
	height: 230px;
	border-bottom: 1px solid #B3B3B3;
	margin: auto;
	margin-top: 50px;
}

.adminModalInput {
	width: 400px;
	padding: 0;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	font-family: 'Work Sans';
    font-size: 14px;
	margin-top: 10px;
	padding-left: 20px;
}

.adminModalCat {
	margin-top: 30px;
}

.adminModalRequest i {
	z-index: 1;
	font-size: 10px;
	color: #6C6C6C;
	position: absolute;
	bottom: 70px;
	right: 20px;
}

.adminModalChoice {
	z-index: 2;
	width: 420px;
    outline: none;
    font-family: 'Work Sans';
    font-size: 14px;
	appearance: none;
	border-radius: 4px;
    cursor: pointer;
    position: relative;
	background-color: #ffffff00;
}


.adminModalChoice:hover {
    cursor: pointer;
}

.adminModalChoiceEmpty {
    display: none;
}

.error_validateModal {
	display: none;
	position: absolute;
	color: rgb(255, 80, 80);
	bottom: 5px;
}

.adminAddModal input[type="submit"] {
	display: flex;
	justify-content: center;
	margin-top: 35px;
	background-color: #A7A7A7;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}